@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 1000px;
  
}

header {
  position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 80px;
z-index: 900;
transition: 0.6s;

}

header.sticky {
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration:none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(imagen\ 1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.banner h2 span  {
  color: #49f9ff;
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #000000
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #000;
}.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #000;
}
.services {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 60px;
  max-width: 100%;
  margin-top: 40px;
}

.services .box {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}
.stats {
  background: #4ed4dd;
  padding-top: 250px;
  margin-top: -250px;
}

.stats h3,
.stats p {
  color: #000000;
  position: relative;
}

.statsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.statsBox h2 {
  color: #000000;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.statsBox h4 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.workBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.workBx .brand {
  position: relative;
  background: url(resena.jpeg);
  min-height: 400px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.workBx .brand:hover {
  background: #000;
}

.workBx .brand a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.workBx .brand:hover a {
  color: rgba(255, 255, 255, 1);
}

.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.teamBx .member {
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000067;
  transition: 0.2s;
  opacity: 0;
}

.teamBx .member:hover .details{
  opacity: 1;

}
.teamBx .member .details h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.contact {
  background: #4ed4dd;
}

.contact h3,
.contact p {
  color: #000;
}

.contactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.contactForm form {
  width: 100%;
}

.contactForm .row100 {
  display: flex;
  width: 100%;
}

.contactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
  height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
  color: rgba(0, 0, 0, 0.651);
}

.contactForm .row100 input[type="submit"] {
  background: #fff;
  color: #000;
  max-width: 200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px; 
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.sci ul {
  display: flex;
}

.sci ul li {
  list-style: none;
}

.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}

.sci ul li a img {
  
  max-width: 80px;
}

.sci ul li a:hover img {
  opacity: 0.5;
}